@import "assets/styles/mixins";
@import "assets/styles/variables.module.scss";

.container {
  margin-bottom: 60px;
}

.button {
  margin-top: 50px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
  grid-gap: 60px;
}

@media only screen and (max-width: $breaking-point-sm) {
  .grid {
    grid-template-columns: none;
  }
}
