@font-face {
  font-family: "Blacker";
  src: url(./blacker-sans.light.woff2) format("woff2");
  font-weight: light;
  unicode-range: U+0020-007F;
}

@font-face {
  font-family: "Rozha";
  src: url(./rozha-one-regular.woff2) format("woff2");
  unicode-range: U+0020-007F;
}

@font-face {
  font-family: "Italiana";
  src: url(./italiana.woff2) format("woff2");
  unicode-range: U+0020-007F;
}
