@import "assets/styles/mixins";
@import "assets/styles/variables.module.scss";

.container {
  button[class="slick-arrow slick-prev"]::before {
    color: $dark !important;
    @include fade-in;
    animation-delay: 0.5s;
  }
  button[class="slick-arrow slick-next"]::before {
    color: $dark !important;
    @include fade-in;
    animation-delay: 0.5s;
  }
}

.cardContainer {
  padding: 0 10px;
}
