@import "assets/styles/mixins";
@import "assets/styles/variables.module.scss";

.container {
  svg {
    position: absolute;
    transform: translateY(2px);
  }
  input {
    border: none;
    border-bottom: 1px solid $dark;
    width: 100%;
    padding: 0 10px 0 28px;
    font-weight: 300;
    &::placeholder {
      font-weight: 300;
      font-style: italic;
      color: $grey;
    }
    &:focus {
      outline: none !important;
    }
  }
}
