@import "assets/styles/mixins";
@import "assets/styles/variables.module.scss";

.container {
  display: flex;
  justify-content: space-between;
  background-color: $dark;
  padding: 15px var(--padding-y);
  color: $white;
  font-size: var(--fs-m);

  div {
    font-weight: 300;
  }
  div[id="footer-copyright"] {
    font-size: var(--fs-s);
  }
}

.socialMedia {
  margin-right: 20px;
  position: relative;
  & a {
    color: $white;
    padding-bottom: 2px;
    @include hover_underline($white);
  }
}

//Responsive
@media only screen and (max-width: $breaking-point-xxs) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
    div[id="footer-social-media"] {
      margin-bottom: 10px;
    }
  }
}
