@import "assets/styles/mixins";
@import "assets/styles/variables.module.scss";

.container {
  background-color: $dark;
  padding: 25px var(--padding-y);
  color: $white;
  font-size: var(--fs-m-s);

  h5 {
    text-transform: uppercase;
    font-size: var(--fs-s);
  }
  a {
    font-size: var(--fs-s);
    margin: 0 20px 10px 0;
  }
}

.wrapper {
  display: flex;

  .logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    p {
      margin: 0 0 0 10px;
      font-family: Blacker;
      font-size: var(--fs-m);
    }

    img {
      filter: grayscale(1) invert(1);
    }
  }
  .sections {
    display: flex;
  }

  .categories {
    div {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.socialMedia {
  button {
    margin: 0 10px 5px 0;
    filter: grayscale(100%);
  }
}

.copyright {
  font-size: var(--fs-s);
  text-align: center;
  margin-top: 20px;
}

//Responsive
@media only screen and (max-width: $breaking-point-xxs) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
    div[id="footer-social-media"] {
      margin-bottom: 10px;
    }
  }
}
