@import "assets/styles/mixins";
@import "assets/styles/variables.module.scss";

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1 {
    font-size: var(--fs-l);
    font-family: Blacker;
    color: $blue;
  }
}

.wrapper {
  p[class="article_description"] {
    text-align: justify;
  }
}

.categoryContainer {
  margin-bottom: 50px;
}

.categoryTitle {
  margin-bottom: 30px;
  font-family: Blacker;
}

//Responsive
@media only screen and (max-width: $breaking-point-md) {
  .categoryContainer {
    margin-bottom: 0;
  }
}
