@import "assets/styles/mixins";
@import "assets/styles/variables.module.scss";

.container {
  h1,
  h2 {
    font-size: var(--fs-l-s);
    font-weight: 500;
    margin: 20px 0;
    text-align: start;
  }

  h2 {
    margin-top: 70px;
  }

  a {
    @include link;
  }
}

.arrowBack {
  & svg {
    &:hover {
      color: $dark;
    }
  }
}

.headerImage {
  min-height: 200px;
  max-height: 300px;
}

.title {
  font-size: var(--fs-l);
  font-weight: 500;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: $grey;
  margin: 13px 0 30px;

  .subtitle {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    span {
      margin: 0 15px;
      opacity: 0.7;
    }

    & p:last-child {
      text-transform: uppercase;
    }
    a,
    span,
    p {
      font-size: var(--fs-m-s);
      font-weight: 400;
      margin-bottom: 0;
    }
  }

  .socialMedia {
    button {
      margin-right: 10px;
    }
  }
}

.content {
  max-width: 840px;
  text-align: justify;
  margin: auto;
  margin-top: 60px;

  li {
    font-size: var(--fs-m);
    margin-bottom: 10px;
  }
}

//Responsive
@media only screen and (max-width: $breaking-point-md) {
  .subtitle {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: $breaking-point-sm) {
  .container {
    svg {
      max-width: 24px;
    }
  }

  .copyUrl {
    transform: scale(0.93);
    padding: 0px 5px 3px;
  }
}
@media only screen and (max-width: 439px) {
  .container {
    button {
      margin: 10px 10px 0 0;
    }
  }
}
