@import "assets/styles/mixins";
@import "assets/styles/variables.module.scss";

.container {
  h1,
  h2 {
    font-size: var(--fs-l-s);
    font-weight: 500;
    margin: 20px 0;
    text-align: start;
  }

  h2 {
    margin-top: 70px;
  }

  a {
    color: $salmon;
    font-weight: 500;
    &:hover {
      opacity: 0.8;
      color: $salmon;
    }
  }
}

.arrowBack {
  & svg {
    &:hover {
      color: $dark;
    }
  }
}

.headerImage {
  min-height: 200px;
  max-height: 300px;
}

.title {
  font-size: var(--fs-l);
  font-weight: 500;
}

.subtitle {
  display: flex;
  color: $grey;
  margin: 13px 0 20px;

  span {
    margin: 0 15px;
    opacity: 0.7;
  }

  & p:last-child {
    text-transform: uppercase;
  }
  a,
  span,
  p {
    font-size: var(--fs-m-s);
    font-weight: 400;
  }
}

.content {
  max-width: 840px;
  text-align: justify;
  margin: auto;
  margin-top: 60px;

  li {
    font-size: var(--fs-m);
    margin-bottom: 10px;
  }
}

//Responsive
@media only screen and (max-width: $breaking-point-md) {
  .subtitle {
    margin-bottom: 10px;
  }

  .container {
    margin-top: 40px;
  }
}
