@import "assets/styles/variables.module.scss";
@import "assets/styles/mixins";
@import "assets/fonts/fonts";
@import "assets/styles/root";

html {
  scroll-behavior: auto !important;
}

* {
  font-family: Jost, sans-serif;
}

body {
  &::-webkit-scrollbar {
    display: none;
  }
  margin: 0;
}

h1,
h2 {
  font-family: Blacker;
}

p,
a {
  font-weight: 300;
  font-size: var(--fs-m);
}
a {
  color: $white;
  text-decoration: none;
  &:hover {
    color: inherit;
  }
}

.offcanvasLinks {
  transform: translate(-100px, 10px);
  margin-left: -200px;
  a {
    @include hover_underline($white);
  }
}

//Responsive
@media only screen and (max-width: $breaking-point-lg) {
  .offcanvas {
    width: 250px;
  }

  .offcanvas-container {
    background-color: $light-grey !important;

    a > li {
      color: $dark;
      opacity: 0.8;
      font-weight: 400;
      font-size: var(--fs-l);
      text-align: end;
      font-family: Italiana !important;
      transition: 0.4s ease;
      background-image: none;
      &:hover {
        color: $yellow;
        opacity: 1;
        letter-spacing: 4px;
      }
    }

    .btn-close {
      transform: scale(0.8);
    }
  }
}
