@import "assets/styles/mixins";
@import "assets/styles/variables.module.scss";

.container {
  h1 {
    font-family: Italiana, sans-serif;
    font-size: var(--fs-xxl);
  }
  h2 {
    font-family: Blacker;
    font-size: var(--fs-xl);
    margin-bottom: 40px;
  }
  h3 {
    font-weight: 400;
  }
}

.errorMessage {
  margin-top: 50px;
}
