@import "assets/styles/mixins";
@import "assets/styles/variables.module.scss";

.nav {
  top: 0px;
  padding: 5px var(--padding-y) !important;
  background-color: $dark;
  display: flex !important;
  justify-content: space-between !important;

  h1,
  p,
  a {
    color: $white !important;
  }
}

.brand {
  display: flex;
  align-items: center;

  #logo {
    background: url("https://images.unsplash.com/photo-1597589827703-f4b68eafa0ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1672&q=80")
      center center no-repeat;
    background-size: cover !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  h1,
  p {
    margin: 0;
  }
  h1 {
    font-family: Rozha;
    font-weight: bold;
    font-size: 32px;
    margin-left: 15px;
  }
  p {
    font-size: 1rem;
    display: flex;
    align-items: center;
    &::before {
      content: "";
      display: flex;
      height: 1px;
      width: 50px;
      background: white;
      margin: 0 10px;
    }
  }
}

.search {
  color: $white;
  transform: translate(15px, 9px);
  svg {
    stroke-width: 2 !important;
  }

  input {
    width: 0;
    color: $white;
    background-color: transparent;
    transition: width 0.4s ease-in-out;

    &:focus {
      width: 150px;
      border-bottom: 1px solid $white;
    }
    &::placeholder {
      opacity: 0;
    }
  }
}

//Responsive
@media only screen and (max-width: $breaking-point-lg) {
  .search {
    display: none;
  }
}

@media only screen and (max-width: $breaking-point-sm) {
  .brand {
    p {
      display: none;
    }
  }
}
