@import "assets/styles/mixins";
@import "assets/styles/variables.module.scss";

.container {
  padding: 90px var(--padding-y) 100px;
  min-height: 96vh;
}

.wrapper {
  max-width: var(--page-max-width);
  margin: auto;
}
